.carrito-section .title{
    margin-bottom: 5vh;
}
.carrito-section .card{
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}
@media(max-width:767px){
    .card{
        margin: 3vh auto;
    }
}
.cart{
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media(max-width:767px){
    .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
.summary{
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}
@media(max-width:767px){
    .summary{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}
.summary .col-2{
    padding: 0;
}
.summary .col-10
{
    padding: 0;
}
.carrito-section .row{
    margin: 0;
}
.carrito-section .title b{
    font-size: 1.5rem;
}
.carrito-section .main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.col-2, .col{
    padding: 0 1vh;
}
.carrito-section .a{
    padding: 0 1vh;
}
.carrito-section .close{
    margin-left: auto;
    font-size: 0.7rem;
}
.carrito-section .img{
    width: 3.5rem;
}
.back-to-shop{
    margin-top: 4.5rem;
}
.carrito-section .h5{
    margin-top: 4vh;
}
.carrito-section .hr{
    margin-top: 1.25rem;
}
.carrito-section .form{
    padding: 2vh 0;
}
.carrito-section .select{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
.carrito-section .input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
      color:transparent;
}
.carrito-section .btn{
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    border-radius: 0;
}
.carrito-section .btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    /*-webkit-user-select: none;*/
    transition: none; 
}
.carrito-section .btn:hover{
    color: white;
}
a{
    color: black; 
}
a:hover{
    color: black;
    text-decoration: none;
}

.align-items-center {
    align-items: center;
}

.d-flex {
    display: flex;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.justify-content-center {
    justify-content: center;
}

.btn-quantity {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-delete {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    margin-right: 0.5rem;
}