{% extends 'mobilemart/base.html' %}
{% load static %}

{% block title %}Acerca de{% endblock %}



{% block contenido %}
    <div class="container" style="margin-bottom: 30px;">
        <h1 class="border-bottom" style="margin-top: 30px;">¿Quiénes somos?</h1>
        <h2 class="border-bottom" style="margin-top: 20px;">MobileMart</h2>
        <p>MobileMart es una tienda en línea especializada en la venta de teléfonos celulares y dispositivos móviles.
            Fundada en 2024, nuestra empresa se ha comprometido a brindar una experiencia de compra conveniente y
            segura para aquellos que buscan adquirir un nuevo teléfono inteligente.</p>
        <p>Con sede en Paicavi 3280, nuestro equipo está formado por entusiastas de la tecnología apasionados por
            ofrecer productos de primera calidad y un servicio excepcional. Nos enorgullece mantenernos al tanto
            de las últimas tendencias del mercado y trabajar con los principales fabricantes de teléfonos celulares
            para garantizar que nuestros clientes tengan acceso a los últimos modelos y características innovadoras.</p>
        <h2 class="border-bottom" style="margin-top: 30px;">Nuestros Productos</h2>
        <p>En MobileMart, ofrecemos una amplia gama de teléfonos celulares de marcas líderes como Apple, Samsung y
            Xiaomi.
            Desde los últimos lanzamientos hasta modelos más asequibles, nuestra colección de dispositivos móviles está
            diseñada para satisfacer una variedad de necesidades y presupuestos.</p>
    </div>

{% endblock contenido %}
