{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MobileMart{% endblock %}</title>
    <link href="{% static 'mobilemart/css/bootstrap.min.css' %} " rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mobilemart/css/Main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/sweetalert2.min.css">
    <script src="{% static 'mobilemart/js/bootstrap.bundle.min.js' %}"></script>

    {% block links %}
    {% endblock links %}

</head>

<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'mobilemart/img/logotienda.png' %}" alt="logotienda" width="40" height="30"
                    class="d-inline-block align-text-top">
                MobileMart
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Marcas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'iphone' %}">Apple</a></li>
                            <li><a class="dropdown-item" href="{% url 'samsung' %}">Samsung</a></li>
                            <li><a class="dropdown-item" href="{% url 'xiaomi' %}">Xiaomi</a></li>
                        </ul>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'administracion' %}">Administración</a>
                    </li> {% endcomment %}
                </ul>

                <ul class="navbar-nav ml-auto">
                    <!-- icono carro -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ver_carrito' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-cart" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                            </svg>
                        </a>
                    </li>

                    <!-- icono personacirculo -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                            </svg>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">

                            {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="">Bienvenido, <strong>{{request.user.nombre}}</strong></a></li>
                            <li><a class="dropdown-item" href="{% url 'perfilusuario' %}">Perfil</a></li>
                            <li><a class="dropdown-item" href="{% url 'pedidosuser' %}">Mis pedidos</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar sesión</a></li>
                            {% endif %}


                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--FIN NAVBAR-->

    {% block contenido %}
    {% endblock contenido%}

    <!--FOOTER-->
    <footer class="bg-dark py-5">
        <div class="container">
            <div class="row text-white g-4">
                <div class="col-md-6 col-lg-3">
                    <a class="text-uppercase text-decoration-none brand text-white"
                        href="{% url 'index' %}">MobileMart</a>
                    <p class="text-white text-opacity-50 mt-3">Tienda en línea especializada en la venta de teléfonos
                        celulares y dispositivos móviles.</p>
                </div>

                <div class="col-md-6 col-lg-3">
                    <h5 class="fw-light">Links</h5>
                    <ul class="list-unstyled">
                        <li class="my-3">
                            <a href="{% url 'index' %}" class="text-white text-decoration-none text-opacity-50">
                                <i class="fas fa-chevron-right me-1"></i> Inicio
                            </a>
                        </li>
                        <li class="my-3">
                            <a href="{% url 'iphone' %}" class="text-white text-decoration-none text-opacity-50">
                                <i class="fas fa-chevron-right me-1"></i> Apple
                            </a>
                        </li>
                        <li class="my-3">
                            <a href="{% url 'samsung' %}" class="text-white text-decoration-none text-opacity-50">
                                <i class="fas fa-chevron-right me-1"></i> Samsung
                            </a>
                        </li>
                        <li class="my-3">
                            <a href="{% url 'xiaomi' %}" class="text-white text-decoration-none text-opacity-50">
                                <i class="fas fa-chevron-right me-1"></i> Xiaomi
                            </a>
                        </li>
                        <li class="my-3">
                            <a href="{% url 'about' %}" class="text-white text-decoration-none text-opacity-50">
                                <i class="fas fa-chevron-right me-1"></i> Acerca de
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 col-lg-3">
                    <h5 class="fw-light mb-3">Contacto</h5>
                    <div class="d-flex justify-content-start align-items-start my-2 text-white text-opacity-50">
                        <span class="me-3">
                            <i class="fas fa-map-marked-alt"></i>
                        </span>
                        <span class="fw-light">
                            Paicaví 3280, Concepción, Bío Bío
                        </span>
                    </div>
                    <div class="d-flex justify-content-start align-items-start my-2 text-white text-opacity-50">
                        <span class="me-3">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="fw-light">
                            MobileMart@gmail.com
                        </span>
                    </div>
                    <div class="d-flex justify-content-start align-items-start my-2 text-white text-opacity-50">
                        <span class="me-3">
                            <i class="fas fa-phone-alt"></i>
                        </span>
                        <span class="fw-light">
                            +569 7768 3148
                        </span>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <h5 class="fw-light mb-3">Redes</h5>
                    <div>
                        <ul class="list-unstyled d-flex">
                            <li>
                                <a href="#" class="text-white text-decoration-none text-opacity-50 fs-4 me-4">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-white text-decoration-none text-opacity-50 fs-4 me-4">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--FIN FOOTER-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
        {% for m in messages %}
            <script>
                var title = ''
                var icon = ''
                
                {% if 'success' in m.tags %}
                    title = "¡Operación exitosa!";
                    icon = 'success';
                {% elif 'info' in m.tags %}
                    title = "Información";
                    icon = 'info';
                {% elif 'warning' in m.tags %}
                    title = "Advertencia";
                    icon = 'warning';
                {% elif 'error' in m.tags %}
                    title = "Error";
                    icon = 'error';
                {% else %}
                    title = "Mensaje";
                    icon = 'info';
                {% endif %}

                Swal.fire({
                    title: title,
                    text: "{{m}}",
                    icon: icon
                  });

            </script>
        {% endfor %}
    {% endif %}
</body>

</html>