{% extends 'mobilemart/base.html' %}
{% load static %}

{% block title %}Carrito{% endblock %}
    <link rel="stylesheet" href="{% static 'mobilemart/css/Carrito.css' %}">

    {% block contenido %}

    <!--CARRITO-->
    <div class="carrito-section">
        <div class="card mt-4 mb-4">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col">
                                <h4><b>Carrito de compras</b></h4>
                            </div>
                            <div class="col align-self-center text-right text-muted" style="text-align: end;">2
                                productos</div>
                        </div>
                    </div>
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="{% static 'mobilemart/img/iphone15pro.jpg' %}" alt=""></div>
                            <div class="col">
                                <div class="row text-muted">Apple</div>
                                <div class="row">Iphone 15 Pro Max</div>
                            </div>
                            <div class="col">
                                <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                            </div>
                            <div class="col">&dollar; 1.380.000 <span class="close">&#10005;</span></div>
                        </div>
                    </div>
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="{% static 'mobilemart/img/iphone12.png' %}"></div>
                            <div class="col">
                                <div class="row text-muted">Apple</div>
                                <div class="row">Iphone 12</div>
                            </div>
                            <div class="col">
                                <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                            </div>
                            <div class="col">&dollar; 580.000 <span class="close">&#10005;</span></div>
                        </div>
                    </div>
                    <div class="back-to-shop"><a href="{% url 'index' %}">&leftarrow;</a><span
                            class="text-muted">Volver a inicio</span></div>
                </div>
                <div class="col-md-4 summary">
                    <div>
                        <h5><b>Resumen</b></h5>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">PRODUCTOS</div>
                        <div class="col text-right">&dollar; 1.960.000</div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding-left:0;">ENVÍO</div>
                        <div class="col text-right">&dollar; 5.990</div>
                    </div>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1);">
                        <div class="col" style="margin-top: 2vh; padding-left: 0;"><strong>PRECIO TOTAL</strong></div>
                        <div class="col text-right" style="margin-top: 2vh;"><strong>&dollar; 1.965.990</strong></div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding-left:0;">VALOR DÓLAR</div>
                        <div class="col text-right">
                            <div class="spinner">
                                <span class="spinner-grow spinner-grow-sm"></span>
                                Cargando..
                            </div>
                            <div id="dolar"></div>
                        </div>

                    </div>
                    <a href="{% url 'detalle_pedido_usuario' %}"><button class="btn">PAGAR</button></a>
                </div>
            </div>
        </div>

    </div>

    <!--FIN CARRITO-->

    <script src="{% static 'mobilemart/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'mobilemart/js/scriptcarrito.js' %}"></script>
    {% endblock contenido %}