{% extends 'mobilemart/baseadmin.html' %}
{% load static %}


    {% block title %}Crear usuario{% endblock %}

    {% block links %}
    {% endblock links %}
    






    {% block contenido %}
    <div class="container" style="margin-bottom: 50px; margin-top: 50px;">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Crear un usuario</h5>
                        <form id="registro-form" action="{% url 'listadousuarios' %}" class="was-validated" method="post">
                            <div class="mb-3">
                                <label for="rut" class="form-label">Rut</label>
                                <input type="text" class="form-control" id="rutusuario" name="rut" required>
                                <div class="valid-feedback">Rut valido.</div>
                                <div class="invalid-feedback">Ej:12345678-9</div>
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Nombre de usuario</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                                <div class="valid-feedback">Nombre de usuario disponible</div>
                                <div class="invalid-feedback">El nombre debe contener por lo menos 3 caracteres</div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Correo electrónico</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                                <div class="valid-feedback">Correo Electronico Valido.</div>
                                <div class="invalid-feedback">Ej: ejemplo@gmail.com</div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                                <div class="valid-feedback">Contraseña valida.</div>
                                <div class="invalid-feedback">La contraseña debe contener por lo menos 5 caracteres</div>
                            </div>
                            <div class="mb-3">
                                <label for="confirm-password" class="form-label">Confirmar Contraseña</label>
                                <input type="password" class="form-control" id="confirm-password"
                                    name="confirm-password" required>
                                <div class="valid-feedback">Contraseña valida</div>
                                <div class="invalid-feedback">Reingrese la contraseña</div>
                            </div>
                            <button type="submit" class="btn btn-primary"
                                style="border: 1px solid; margin-top: 10px;">Crear usuario</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'mobilemart/js/scriptregistro.js' %}"></script>
    {% endblock contenido %}