<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MobileMart</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/Main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="../js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Panel de Administrador</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Usuarios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="../html/listadousuarios.html">Editar usuarios</a></li>
                            <li><a class="dropdown-item" href="../html/crearusuario.html">Crear usuarios</a></li>

                        </ul>
                    </li>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Productos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="../html/editarproducto.html">Editar Productos</a>
                                </li>
                                <li><a class="dropdown-item" href="../html/agregarproducto.html">Agregar productos</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="listadopedidos.html">Pedidos</a>
                        </li>
                    </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="container">
            <h1 class="border-bottom">Resumen de Pedido</h1>
            <div class="row mt-4">
    
                <!-- Detalles del pedido -->
                <div class="col-12 col-md-8">
                    <div class="order-details mt-4">
                        <h2 class="border-bottom">Detalles del Pedido</h2>
    
                        <!-- Datos del pedido -->
                        <div class="order-info mt-3">
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <strong>Número de Pedido:</strong>
                                </div>
                                <div class="col-md-9">
                                    #1
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <strong>Usuario:</strong>
                                </div>
                                <div class="col-md-9">
                                    CrisMj
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <strong>Correo Electrónico:</strong>
                                </div>
                                <div class="col-md-9">
                                    crismj@gmail.com
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <strong>Dirección:</strong>
                                </div>
                                <div class="col-md-9">
                                    Calle Principal 123, Ciudad
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <strong>Estado:</strong>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-select">
                                        <option selected>Entregado</option>
                                        <option>En proceso</option>
                                        <option>Enviado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Datos del pedido -->
    
                        <!-- Productos del pedido -->
                        <div class="order-products mt-4">
                            <h3>Productos</h3>
    
                            <!-- Producto 1 -->
                            <div class="product row mt-3">
                                <div class="col-md-3">
                                    <img src="../img/iphone15.jpg" class="w-100" alt="Iphone 15" />
                                </div>
                                <div class="col-md-9">
                                    <h4>Iphone 15</h4>
                                    <p><strong>Color:</strong> Negro</p>
                                    <p><strong>Precio:</strong> $930.000</p>
                                </div>
                            </div>
                            <!-- Producto 1 -->
    
                            <!-- Total del pedido -->
                            <div class="order-total mt-4">
                                <h3>Total del Pedido</h3>
                                <p><strong>Total:</strong> $930.000</p>
                            </div>
                            <!-- Total del pedido -->
    
                            <!-- Botón atrás -->
                            <div class="mt-4 mb-3">
                                <button class="btn btn-dark">Guardar Cambios</button>
                                <a href="listadopedidos.html">
                                    <button class="btn btn-dark ml-2">Volver</button>
                                </a>
                            </div>
                            <!-- Botón atrás -->
    
                        </div>
                        <!-- Productos del pedido -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--FOOTER-->
    <footer class="bg-dark py-5">
        <div class="container">
            <div class="row text-white g-4">
                <div class="col-md-6 col-lg-3">
                    <a class="text-uppercase text-decoration-none brand text-white" href="index.html">MobileMart</a>
                    <p class="text-white text-opacity-50 mt-3">Tienda en línea especializada en la venta de teléfonos celulares y dispositivos móviles.</p>
                </div>

                <div class="col-md-6 col-lg-3">
                    <h5 class="fw-light">Links</h5>
                    <ul class="list-unstyled">
                        <li class="my-3">
                            <a href="../html/index.html" class="text-white text-decoration-none text-opacity-50">
                                <i class="fas fa-chevron-right me-1"></i> Inicio
                            </a>
                        </li>
                        <li class="my-3">
                            <a href="../html/iphone.html" class="text-white text-decoration-none text-opacity-50">
                                <i class="fas fa-chevron-right me-1"></i> Apple
                            </a>
                        </li>
                        <li class="my-3">
                            <a href="../html/samsung.html" class="text-white text-decoration-none text-opacity-50">
                                <i class="fas fa-chevron-right me-1"></i> Samsung
                            </a>
                        </li>
                        <li class="my-3">
                            <a href="../html/xiaomi.html" class="text-white text-decoration-none text-opacity-50">
                                <i class="fas fa-chevron-right me-1"></i> Xiaomi
                            </a>
                        </li>
                        <li class="my-3">
                            <a href="../html/about.html" class="text-white text-decoration-none text-opacity-50">
                                <i class="fas fa-chevron-right me-1"></i> Acerca de
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 col-lg-3">
                    <h5 class="fw-light mb-3">Contacto</h5>
                    <div class="d-flex justify-content-start align-items-start my-2 text-white text-opacity-50">
                        <span class="me-3">
                            <i class="fas fa-map-marked-alt"></i>
                        </span>
                        <span class="fw-light">
                            Paicaví 3280, Concepción, Bío Bío
                        </span>
                    </div>
                    <div class="d-flex justify-content-start align-items-start my-2 text-white text-opacity-50">
                        <span class="me-3">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="fw-light">
                            MobileMart@gmail.com
                        </span>
                    </div>
                    <div class="d-flex justify-content-start align-items-start my-2 text-white text-opacity-50">
                        <span class="me-3">
                            <i class="fas fa-phone-alt"></i>
                        </span>
                        <span class="fw-light">
                            +569 7768 3148
                        </span>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <h5 class="fw-light mb-3">Redes</h5>
                    <div>
                        <ul class="list-unstyled d-flex">
                            <li>
                                <a href="#" class="text-white text-decoration-none text-opacity-50 fs-4 me-4">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-white text-decoration-none text-opacity-50 fs-4 me-4">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--FIN FOOTER-->
    
</body>

</html>