{% extends 'mobilemart/baseadmin.html' %}
{% load static %}

{% block title %}Detalle pedido{% endblock %}

{% block contenido %}
<section>
    <div class="container">
        <h1 class="border-bottom">Resumen de Pedido</h1>
        <div class="row mt-4">
            <div class="col-12 col-md-8">
                <div class="order-details mt-4">
                    <h2 class="border-bottom">Detalles del Pedido</h2>
                    <div class="order-info mt-3">
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <strong>Número de Pedido:</strong>
                            </div>
                            <div class="col-md-9">
                                #{{ pedido.id }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <strong>Usuario:</strong>
                            </div>
                            <div class="col-md-9">
                                {{ pedido.usuario.username }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <strong>Correo Electrónico:</strong>
                            </div>
                            <div class="col-md-9">
                                {{ pedido.usuario.email }}
                            </div>
                        </div>