{% extends 'mobilemart/baseadmin.html' %}
{% load static %}


    {% block title %}Administración{% endblock %}

    {% block links %}
        <link rel="stylesheet" href=" {% static 'mobilemart/Css/Marcas.css' %} ">
    {% endblock links %}
    






    {% block contenido %}
    <div class="container" style="margin-bottom: 30px;">
        <h3 class="border-bottom " style="margin-top: 30px;">Productos</h3>
        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/iphone15pro.jpg' %}" alt="Iphone 15 Pro Max">
                    <div class="card-body">
                        <h3 class="card-title">Iphone 15 Pro Max</h3>
                        <h5 class="card-text">Precio : $1.380.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/iphone15.jpg' %}" alt="Iphone 15">
                    <div class="card-body">
                        <h3 class="card-title">Iphone 15</h3>
                        <h5 class="card-text">Precio : $930.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/iphone14pro.jpg' %}" alt="Iphone 14 Pro Max">
                    <div class="card-body">
                        <h3 class="card-title">Iphone 14 Pro Max</h3>
                        <h5 class="card-text">Precio : $870.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/iphone14.jpg' %}" alt="Iphone 14">
                    <div class="card-body">
                        <h3 class="card-title">Iphone 14</h3>
                        <h5 class="card-text">Precio : $770.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/iphone13.jpg' %}" alt="Iphone 13">
                    <div class="card-body">
                        <h3 class="card-title">Iphone 13</h3>
                        <h5 class="card-text">Precio : $630.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/iphone12.png' %}" alt="Iphone 12">
                    <div class="card-body">
                        <h3 class="card-title">Iphone 12</h3>
                        <h5 class="card-text">Precio : $580.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/iphone11.jpg' %}" alt="Iphone 11">
                    <div class="card-body">
                        <h3 class="card-title">Iphone 11</h3>
                        <h5 class="card-text">Precio : $400.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/iphonese.jpg' %}" alt="Iphone SE">
                    <div class="card-body">
                        <h3 class="card-title">Iphone SE</h3>
                        <h5 class="card-text">Precio : $200.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/s21.webp' %}" alt="S21">
                    <div class="card-body">
                        <h3 class="card-title">Samsung Galaxy S21 </h3>
                        <h5 class="card-text">Precio : $430.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>

          
            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/S24.jpg' %}" alt="S24">
                    <div class="card-body">
                        <h3 class="card-title">Samsung Galaxy S24</h3>
                        <h5 class="card-text">Precio : $1.320.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/z.jpg' %}" alt="galaxy z">
                    <div class="card-body">
                        <h3 class="card-title">Samsung Galaxy Z</h3>
                        <h5 class="card-text">Precio : $1.330.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/S23.jpg' %}" alt="S23">
                    <div class="card-body">
                        <h3 class="card-title">Samsung Galaxy S23</h3>
                        <h5 class="card-text">Precio : $680.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/S22.jpg' %}" alt="S22">
                    <div class="card-body">
                        <h3 class="card-title">Samsung Galaxy S22</h3>
                        <h5 class="card-text">Precio : $530.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/A55.jpg' %}" alt="A55">
                    <div class="card-body">
                        <h3 class="card-title">Samsung Galaxy A55</h3>
                        <h5 class="card-text">Precio : $440.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/a35.jpg' %}" alt="A35">
                    <div class="card-body">
                        <h3 class="card-title">Samsung Galaxy A35</h3>
                        <h5 class="card-text">Precio : $370.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>
                        
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/s20.webp' %}" alt="S20">
                    <div class="card-body">
                        <h3 class="card-title">Samsung Galaxy S20</h3>
                        <h5 class="card-text">Precio : $360.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/13t.webp' %}" alt="Redmi 13t">
                    <div class="card-body">
                        <h3 class="card-title">Xiaomi Redmi 13T </h3>
                        <h5 class="card-text">Precio : $560.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/redmi13.webp' %}" alt="Redmi 13">
                    <div class="card-body">
                        <h3 class="card-title">Xiaomi Redmi 13 </h3>
                        <h5 class="card-text">Precio : $450.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/pocof5.webp' %}" alt="Poco f5">
                    <div class="card-body">
                        <h3 class="card-title">Xiaomi Poco F5</h3>
                        <h5 class="card-text">Precio : $500.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/pocox6.jpg' %}" alt="Poco x6">
                    <div class="card-body">
                        <h3 class="card-title">Xiaomi Poco X6</h3>
                        <h5 class="card-text">Precio : $330.000</h5>
                        <div class="d-flex">
                            <a href="{% url 'ventanaedicion' %}" class="btn btn-primary mr-2">Editar</a>
                            <button class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endblock contenido %}