{% extends 'mobilemart/base.html' %}
{% load static %}

{% block title %}Inicio Sesion{% endblock %}

{% block links %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'mobilemart/css/Login.css' %}">    
{% endblock links %}


    {% block contenido %}
    <div class="container-fluid flexbox-margin-auto " style="margin-bottom: 20px;">
        <div class="row;">
            <div class="card">
                <div class="card-body">
                    <div class="formulario" style="align-items: center;">
                        <h1 class="flexbox-margin-auto">Login</h1>
                        <form id="login-form" action="{% url 'index' %}" class="was-validated" method="post">
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Correo Electronico" id="idemail" name="email" required>
                                <div class="valid-feedback">Email válido</div>
                                <div class="invalid-feedback">Ingrese un email válido</div>
                            </div>

                            <div class="mb-2">
                                <input type="password" class="form-control" placeholder="Contraseña" id="idpassword" name="password" required style="margin-top: 10px;">
                                <div class="valid-feedback">Contraseña válida</div>
                                <div class="invalid-feedback">Ingrese la contraseña</div>
                            </div>

                            <button class="btn btn-primary" type="submit" style="margin-top: 10px;">Iniciar Sesión</button>

                            <div class="mb-2"><a href="{% url 'recuperar_contrasena' %}">¿Olvidaste tu contraseña?</a></div>

                            <div>
                                <p>¿No tienes cuenta?<a href="{% url 'registro_usuario' %}">Registrarse</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="{% static 'mobilemart/js/scriptiniciosesion.js' %}"></script>

    {% endblock contenido %}
