{% extends 'mobilemart/base.html' %}
{% load static %}


    {% block title %}Apple{% endblock %}

    {% block links %}
        <link rel="stylesheet" href=" {% static 'mobilemart/Css/Marcas.css' %} ">
    {% endblock links %}
    






    {% block contenido %}

    <div class="container" style="margin-bottom: 30px;">
        <h3 class="border-bottom " style="margin-top: 30px;">Productos de Apple</h3>
        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/iphone15pro.jpg' %}" alt="Iphone 15 Pro Max">
                    <div class="card-body">
                        <h3 class="card-title">Iphone 15 Pro Max</h3>
                        <h5 class="card-text">Precio : $1.380.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/iphone15.jpg' %}" alt="Iphone 15">
                    <div class="card-body">
                        <h3 class="card-title">Iphone 15</h3>
                        <h5 class="card-text">Precio : $930.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/iphone14pro.jpg' %}" alt="Iphone 14">
                    <div class="card-body">
                        <h3 class="card-title">Iphone 14 Pro Max</h3>
                        <h5 class="card-text">Precio : $870.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/iphone14.jpg' %}" alt="Iphone 14">
                    <div class="card-body">
                        <h3 class="card-title">Iphone 14</h3>
                        <h5 class="card-text">Precio : $770.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/iphone13.jpg' %}" alt="Iphone 13">
                    <div class="card-body">
                        <h3 class="card-title">Iphone 13</h3>
                        <h5 class="card-text">Precio : $630.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/iphone12.png' %}" alt="Iphone 12">
                    <div class="card-body">
                        <h3 class="card-title">Iphone 12</h3>
                        <h5 class="card-text">Precio : $580.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/iphone11.jpg' %}" alt="Iphone 11">
                    <div class="card-body">
                        <h3 class="card-title">Iphone 11</h3>
                        <h5 class="card-text">Precio : $400.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/iphonese.jpg' %}" alt="Iphone SE">
                    <div class="card-body">
                        <h3 class="card-title">Iphone SE</h3>
                        <h5 class="card-text">Precio : $200.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endblock contenido %}