{% extends 'mobilemart/baseadmin.html' %}
{% load static %}


    {% block title %}Listado usuarios{% endblock %}

    {% block links %}
    {% endblock links %}
    






    {% block contenido %}
    <div class="container mt-4">
        <h1 class="border-bottom pb-3">Listado de usuarios</h1>
        <div class="container mt-4">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in usuarios %}
                    <tr>
                        <td>{{ u.rut }}</td>
                        <td>{{ u.nombre }} {{ u.apellido }}</td>
                        <td>{{ u.username }}</td>
                        <td>{{ u.correo }}</td>
                        <td>
                            <a href="{% url 'detalleusuario' u.rut %}">
                                <button class="btn btn-dark">Editar</button>
                            </a>
                            <form method="post" action="{% url 'eliminarusuario' u.rut %}" style="display:inline;" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger ms-2">Eliminar</button>
                            </form>
                            <button class="btn btn-warning ms-2" onclick="suspenderUsuario()">Suspender</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock contenido %}