{% extends 'mobilemart/base.html' %}
{% load static %}

{% block title %}Pedidos usuario{% endblock %}

    {% block contenido %}
    <section>
        <div class="container mt-3 mb-5">
            <h2 class="border-bottom">Mis pedidos</h2>
            <div class="row">
                <!-- Primer pedido -->
                <div class="col-md-6">
                    <div class="card border-primary mb-3">
                        <div class="card-header bg-primary text-white">
                            <h4 class="mb-0">Pedido #1</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Estado: Entregado</h5>
                            <p class="card-text">
                                <strong>Usuario:</strong> CrisMj<br>
                                <strong>Producto:</strong> iPhone 15
                            </p>
                            <a href="{% url 'detalle_pedido_usuario' %}" class="btn btn-primary">Ver Detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock contenido %}
