{% extends 'mobilemart/base.html' %}
{% load static %}

{% block title %}Perfil de usuario{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'mobilemart/css/PerfilUsuario.css' %}">
{% endblock links %}

    {% block contenido %}

    <!--PERFIL-->
    <div class="container rounded bg-white mt-3 mb-3">
        <div class="row justify-content-center">
            <div class="col-md-6 border-right border rounded">
                <div class="p-3 py-3">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Editar perfil</h4>
                    </div>
                    <form id="editarperfil-form" action="{% url 'index' %}" method="post">
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels readonly-label">Nombre</label><input type="text"
                                    class="form-control readonly-input" placeholder="Cristhofer" value="" readonly>
                            </div>
                            <div class="col-md-6"><label class="labels readonly-label">Apellido</label><input
                                    type="text" class="form-control readonly-input" value="" placeholder="Álvarez"
                                    readonly></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12"><label class="labels readonly-label">Nombre de usuario</label><input
                                    type="text" class="form-control readonly-input" placeholder="CrisMj" value=""
                                    readonly></div>
                            <div class="col-md-12"><label class="form-label">Correo electrónico</label><input
                                    type="email" class="form-control" id="idemail" placeholder="crismj@gmail.com"
                                    value="" required></div>
                            <div class="col-md-12"><label class="form-label">Número de teléfono</label><input
                                    type="text" class="form-control" id="idtelefono" placeholder="9 7421 3224" value=""
                                    minlength="9" maxlength="9" required></div>
                            <div class="col-md-12"><label class="labels">Región</label><select class="form-select"
                                    name="regiones" id="regiones">
                                </select>
                            </div>
                            <div class="col-md-12"><label class="labels">Comuna</label><select class="form-select"
                                    name="comunas" id="comunas">
                                </select></div>
                            <div class="col-md-12"><label class="form-label">Dirección</label><input type="text"
                                    class="form-control" id="iddireccion" placeholder="San Martín 940" value=""
                                    required></div>
                            <div class="col-md-12"><label class="labels">N° de departamento (si aplica)</label><input
                                    type="text" class="form-control" id="idnumdepto" placeholder="" value=""></div>

                        </div>
                        <div class="mt-4 text-center"><button class="btn btn-primary profile-button"
                                type="submit">Guardar
                                Perfil</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


    <script src="{% static 'mobilemart/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'mobilemart/js/scripteditarperfil.js' %}"></script>
    {% endblock contenido %}