{% extends 'mobilemart/base.html' %}
{% load static %}
    
    
{% block title %}Recuperar Contraseña{% endblock %}
    <link rel="stylesheet" href="{% static 'mobilemart/css/contrasena.css' %}">


    {% block contenido %}
    <div class="cuadro recuperarcontra">
        <h2>Recuperar Contraseña</h2>
        <form id="form-recuperarcontra" action="InicioSesion.html" method="post" class="was-validated">
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required>
            <input type="submit" value="Enviar">
        </form>
    </div>

   
    <script src="{% static 'mobilemart/js/scriptrecuperarcontrasena.js' %}"></script>
    {% endblock contenido %}