{% extends 'mobilemart/base.html' %}
{% load static %}

{% block title %}Samsung{% endblock %}

    <link rel="stylesheet" href="../css/Marcas.css">

    {% block contenido %}

    <div class="container" style="margin-bottom: 30px;">
        <h3 class="border-bottom" style="margin-top: 30px;">Productos de Samsung</h3>
        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/S24.jpg' %}" alt="S21">
                    <div class="card-body">
                        <h3 class="card-title">Samsung Galaxy S21 </h3>
                        <h5 class="card-text">Precio : $430.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/S24.jpg' %}" alt="S24">
                    <div class="card-body">
                        <h3 class="card-title">Samsung Galaxy S24</h3>
                        <h5 class="card-text">Precio : $1.320.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/S24.jpg' %}" alt="galaxy z">
                    <div class="card-body">
                        <h3 class="card-title">Samsung Galaxy Z</h3>
                        <h5 class="card-text">Precio : $1.330.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/S24.jpg' %}" alt="S23">
                    <div class="card-body">
                        <h3 class="card-title">Samsung Galaxy S23</h3>
                        <h5 class="card-text">Precio : $680.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/S24.jpg' %}" alt="S22">
                    <div class="card-body">
                        <h3 class="card-title">Samsung Galaxy S22</h3>
                        <h5 class="card-text">Precio : $530.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/S24.jpg' %}" alt="A55">
                    <div class="card-body">
                        <h3 class="card-title">Samsung Galaxy A55</h3>
                        <h5 class="card-text">Precio : $440.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/S24.jpg' %}" alt="A35">
                    <div class="card-body">
                        <h3 class="card-title">Samsung Galaxy A35</h3>
                        <h5 class="card-text">Precio : $370.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/S24.jpg' %}" alt="S20">
                    <div class="card-body">
                        <h3 class="card-title">Samsung Galaxy S20</h3>
                        <h5 class="card-text">Precio : $360.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endblock contenido %}