{% extends 'mobilemart/baseadmin.html' %}
{% load static %}
{% load crispy_forms_tags %}


    {% block title %}Editar producto{% endblock %}

    {% block links %}
    {% endblock links %}
    






    {% block contenido %}
    <div class="container mb-4">
        <h1 class="border-bottom mt-5">Editar Producto</h1>
        <form id="editarproducto-form" class="mt-4" action="{% url 'administracion' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form | crispy}}
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                <a href="{% url 'administracion' %}" class="btn btn-dark">Volver</a>
            </div>
        </form>
    </div>

    <script src="{% static 'mobilemart/js/scripteditarprod.js' %}"></script>
    {% endblock contenido %}