{% extends 'mobilemart/baseadmin.html' %}
{% load static %}


    {% block title %}Editar producto{% endblock %}

    {% block links %}
    {% endblock links %}
    






    {% block contenido %}
    <div class="container">
        <h1 class="border-bottom mt-5">Editar Producto</h1>
        <form id="editarproducto-form" class="mt-4" action="{% url 'administracion' %}" method="post">
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="product-image" class="form-label"></label>
                    <img src="{% static 'mobilemart/img/iphone15pro.jpg' %}" alt="Imagen del Producto" class="img-fluid mb-3"
                        id="product-image-preview">
                    <input type="file" id="product-image" name="product-image" class="form-control">
                </div>
                <div class="col-md-9">
                    <div class="mb-3">
                        <label for="product-name" class="form-label">Nombre del Producto:</label>
                        <input type="text" id="product-name" name="product-name" value="Iphone 15 Pro Max"
                            class="form-control" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="product-price" class="form-label">Precio Actual:</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="number" id="product-price" name="product-price" value="1380000"
                                class="form-control" disabled>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="new-price" class="form-label">Nuevo Precio:</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="number" id="new-price" name="new-price" step="0.01" class="form-control"
                                required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                <a href="{% url 'administracion' %}" class="btn btn-dark">Volver</a>
            </div>
        </form>
    </div>
    {% endblock contenido %}