{% extends 'mobilemart/base.html' %}

{% load static %}


{% block title %}Xiaomi{% endblock %}

    <link rel="stylesheet" href="../css/Marcas.css">

    {% block contenido %}

    <div class="container" style="margin-bottom: 30px;">
        <h3 class="border-bottom" style="margin-top: 30px;">Productos de Xiaomi</h3>
        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/13t.webp' %}" alt="Redmi 13t">
                    <div class="card-body">
                        <h3 class="card-title">Xiaomi Redmi 13T </h3>
                        <h5 class="card-text">Precio : $560.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/13t.webp' %}" alt="Redmi 13">
                    <div class="card-body">
                        <h3 class="card-title">Xiaomi Redmi 13 </h3>
                        <h5 class="card-text">Precio : $450.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/13t.webp' %}" alt="Poco f5">
                    <div class="card-body">
                        <h3 class="card-title">Xiaomi Poco F5</h3>
                        <h5 class="card-text">Precio : $500.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card" style="width: 300px; margin-right: 10px;">
                    <img class="card-img-top" src="{% static 'mobilemart/img/13t.webp' %}" alt="Poco x6">
                    <div class="card-body">
                        <h3 class="card-title">Xiaomi Poco X6</h3>
                        <h5 class="card-text">Precio : $330.000</h5>
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Agregar al carrito</a>
                        <a href="{% url 'detalle_producto' %}" class="btn btn-success">Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% endblock contenido %}